* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#dog-image-container {
  display: flex;
  justify-content: space-evenly;
}

#dog-image-container img {
  height: 300px;
  width: 300px;
}

ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}
